#!/bin/bash
LOG_DIR=/home/$(whoami)/install.log
sudo apt-get update -y
touch $LOG_DIR
echo \"START tools Installation\" >> $LOG_DIR
sudo apt install default-jre default-jdk git maven -y >> $LOG_DIR
echo \"Finished tools Installation\" >> $LOG_DIR
echo \"START download project source\" >> $LOG_DIR
git clone https://github.com/spring-projects/spring-petclinic.git
echo \"Finished download project source\" >> $LOG_DIR